@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

};

.player {
    background: #666666;
    max-width: 700px;
    width: 100%;   

    ul{
        background: black;
        height: 100%;
        max-height: 700px;
        overflow-y: auto;
        list-style: none;
        color: white;
        padding-left: 0px;
        li:not(:last-of-type){
            border-bottom: 1px solid lightgray;
            
        }
    }
};

